<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>视频监控</title>
</head>
<body>
<div style="margin:0 auto;border:1px solid #F00;padding-left: 15%;">
    <iframe
            src="https://open.ys7.com/ezopen/h5/iframe?url=ezopen://open.ys7.com/F30656963/1.live&autoplay=1&accessToken=at.6lp38jsu7qg8gamjc5gp5xpxbw35lphh-7likdrdlnr-19ca1np-yfif0tkoq&templete=1"
            width="600"
            height="400"
            id="ysopen"
            allowfullscreen
    >
    </iframe>
    <iframe
            src="https://open.ys7.com/ezopen/h5/iframe?url=ezopen://open.ys7.com/F30656963/1.live&autoplay=0&audio=1&accessToken=at.bn7xllj24c4bgw5ndsnmjkz9acuag66d-5mmdnls81s-0ofxsux-d6zklsdky&templete=1"
            width="600"
            height="400"
            id="ysopen"
            allowfullscreen
    >
    </iframe>
    <iframe
            src="https://open.ys7.com/ezopen/h5/iframe_se?url=ezopen://open.ys7.com/203751922/1.cloud.rec&autoplay=1&accessToken=ra.cqpahn3n7g77kjpi6g93lxth4r1emmao-92opfo1uwo-09836vr-cco8ook2g&begin=20210402&end=20210402"
            width="600"
            height="400"
            id="ysOpenDevice"
            allowfullscreen
    >
    </iframe>
    <iframe
            src="https://open.ys7.com/ezopen/h5/iframe_se?url=ezopen://open.ys7.com/F30656963/1.cloud.rec&autoplay=1&audio=1&accessToken=at.bn7xllj24c4bgw5ndsnmjkz9acuag66d-5mmdnls81s-0ofxsux-d6zklsdky&begin=20210402000000&end=20210402235959&templete=2"
            width="600"
            height="400"
            id="ysopen"
            allowfullscreen
    >
    </iframe>
</div>
</body>
</html>